[Desktop Entry]
Exec=plasma-settings -s -m kcm_mediacenter_remotecontrollers
Icon=input-gamepad-symbolic
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/remotecontroller/index.html

X-KDE-Library=kcm_mediacenter_remotecontrollers
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=40
X-KDE-FormFactors=mediacenter

Name=Remote Controllers
Name[ar]=أجهزة تحكم عن بعد
Name[ca]=Controls remots
Name[ca@valencia]=Controls remots
Name[en_GB]=Remote Controllers
Name[es]=Mandos a distancia
Name[eu]=Urruneko aginteak
Name[fi]=Kaukosäätimet
Name[fr]=Contrôleurs distants
Name[it]=Controller remoti
Name[ka]=დაშორებული კონტროლერები
Name[nl]=Afstandsbedieningen
Name[pl]=Piloty
Name[pt]=Comandos à Distância
Name[ru]=Дистанционные контроллеры
Name[sl]=Oddaljeni krmilniki
Name[sv]=Fjärrkontroller
Name[tr]=Uzaktan Kumandalar
Name[uk]=Дистанційне керування
Name[x-test]=xxRemote Controllersxx
Name[zh_CN]=遥控器

Categories=Qt;KDE;X-KDE-settings-remotecontroller;
