[Desktop Entry]
Name=Remote Controllers
Name[ar]=أجهزة تحكم عن بعد
Name[ca]=Controls remots
Name[ca@valencia]=Controls remots
Name[en_GB]=Remote Controllers
Name[es]=Mandos a distancia
Name[fr]=Contrôleurs distants
Name[it]=Controller remoti
Name[nl]=Afstandsbedieningen
Name[pl]=Piloty
Name[pt]=Comandos à Distância
Name[sl]=Oddaljeni krmilniki
Name[sv]=Fjärrkontroller
Name[tr]=Uzaktan Kumandalar
Name[uk]=Дистанційне керування
Name[x-test]=xxRemote Controllersxx
Name[zh_CN]=遥控器

Icon=input-gamepad-symbolic
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_remotecontrollers
X-KDE-ServiceTypes=Plasma/Generic
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
