[Desktop Entry]
Name=Remote Controllers
Name[ar]=أجهزة تحكم عن بعد
Name[ca]=Controls remots
Name[ca@valencia]=Controls remots
Name[cs]=Dálková ovládání
Name[de]=Fernbedienungen
Name[en_GB]=Remote Controllers
Name[es]=Mandos a distancia
Name[eu]=Urruneko aginteak
Name[fi]=Kaukosäätimet
Name[fr]=Contrôleurs distants
Name[gl]=Mandos a distancia
Name[he]=שלטים
Name[hu]=Távvezérlők
Name[ia]=Controlatores Remote
Name[it]=Controller remoti
Name[ka]=დაშორებული კონტროლერები
Name[ko]=리모콘
Name[nl]=Afstandsbedieningen
Name[nn]=Fjernkontrollar
Name[pl]=Piloty
Name[pt]=Comandos à Distância
Name[pt_BR]=Controles Remotos
Name[ru]=Дистанционные контроллеры
Name[sl]=Oddaljeni krmilniki
Name[sv]=Fjärrkontroller
Name[tr]=Uzaktan Kumandalar
Name[uk]=Дистанційне керування
Name[zh_CN]=遥控器
Name[zh_TW]=遙控器

Icon=input-gamepad-symbolic
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_remotecontrollers
X-KDE-ServiceTypes=Plasma/Generic
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
